/Work/Chapter-01/demo/nbproject/private/
/Work/Chapter-01/demo/build/
/Work/chapter-02/SimpleServlet/nbproject/private/
/Work/chapter-02/SimpleServlet/build/
/Resources/Faculty_Sir/servlet/servlet-ex2-WelcomeFiles/nbproject/private/
/Resources/Faculty_Sir/servlet/servlet-ex2-WelcomeFiles/build/
/Resources/Faculty_Sir/servlet/servlet-ex3-LoadOnStartup/nbproject/private/
/Resources/Faculty_Sir/servlet/servlet-ex3-LoadOnStartup/build/