/Work/Chapter-01/demo/nbproject/private/
/Work/Chapter-01/demo/build/
/Work/chapter-02/SimpleServlet/nbproject/private/
/Work/chapter-02/SimpleServlet/build/
/Resources/Faculty_Sir/servlet/servlet-ex2-WelcomeFiles/nbproject/private/
/Resources/Faculty_Sir/servlet/servlet-ex2-WelcomeFiles/build/
/Resources/Faculty_Sir/servlet/servlet-ex3-LoadOnStartup/nbproject/private/
/Resources/Faculty_Sir/servlet/servlet-ex3-LoadOnStartup/build/
/Resources/Faculty_Sir/servlet/servlet-ex1-GetStared/nbproject/private/
/Resources/Faculty_Sir/servlet/servlet-ex1-GetStared/build/
/Work/chapter-02/ex1/nbproject/private/
/Work/Chapter-01/ex1/nbproject/private/
/Resources/Faculty_Sir/jsp/jsp-ex1-GetStarted/target/
/Work/chapter-02/WebApplication1/nbproject/private/
/Work/chapter-02/WebApplication1/build/
/Work/chapter-02/WebApplication2/nbproject/private/
/Work/chapter-02/jspConfig-404/nbproject/private/
/Work/chapter-02/sendRedirected/nbproject/private/
/Work/chapter-02/jspConfig-404/build/
/Work/chapter-02/jspConfig-404/dist/
/Work/chapter-02/store/nbproject/private/
/Work/chapter-03/Expression_115/nbproject/private/
/Work/chapter-03/Expression_115/build/