<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Text</servlet-name>
        <servlet-class>com.sofiqul54.Text</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Test2</servlet-name>
        <servlet-class>com.sofiqul54.Test2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BD</servlet-name>
        <servlet-class>com.sofiqul54.BD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Test3</servlet-name>
        <servlet-class>com.sofiqul54.Test3</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Text</servlet-name>
        <url-pattern>/mostafiz.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Test2</servlet-name>
        <url-pattern>/Azad.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BD</servlet-name>
        <url-pattern>/dhaka</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Test3</servlet-name>
        <url-pattern></url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
